*.htm*
*.dep
*.pdb
*.ncb
*.manifest
*.suo
*.idb
*/Debug*
*/Release*
*.opt
*.ilk
*.exp
*.plg
*.user
*.lib
*.pch
*.oca
*.tmp
*.zip
*.tlog
*.ipch
*.json
*.db
*.vsidx
*.VC*
*.obj
*.recipe
*.iobj
*.ipdb